*.war
*.iws
*.iml
*.ipr
target/
*.db
*.class
.idea/
*.log
*.aof
*.pid
.DS_Store
.gradle
build/
out/
lib/
hindi/classes/
hindi/omp2/
deploy/local/vagrant/repo/*.deb
deploy/local/vagrant/.vagrant
deploy/local/vagrant/id_rsa.pub
deploy/local/vagrant/sample
deploy/local/vagrant/repo
deploy/rpm-build/rpmbuild/RPMS
deploy/rpm-build/rpmbuild/BUILDROOT/
deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/omp2/libs
deploy/rpm-build/cap-deploy/package
deploy/rpm-build/cap-deploy/jruby-1.7.9
deploy/rpm-build/cap-deploy/data/data.tar.gz
deploy/rpm-build/rpmbuild/SOURCES/omp2_*-2.0.0.tar.gz
deploy/rpm-build/rpmbuild/SOURCES/omp2_*/usr/omp2/*/jdk1.7.0_45/
deploy/rpm-build/rpmbuild/SOURCES/omp2_*/usr/omp2/*/*-2.0.0.war
deploy/rpm-build/rpmbuild/SOURCES/omp2_naga/usr/omp2/libs
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/local/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/local/storm/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/java/jdk1.7.0_45/db/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/java/jdk1.7.0_45/jre/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/java/jdk1.7.0_45/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/java/jdk1.7.0_45/lib/visualvm/platform/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/java/jdk1.7.0_45/lib/visualvm/profiler/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/java/jdk1.7.0_45/lib/missioncontrol/plugins/com.jrockit.mc.rjmx_5.2.0.157284/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/neo4j-community-1.9.5/bin/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/neo4j-community-1.9.5/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/neo4j-community-1.9.5/system/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/zookeeper-3.4.5/contrib/ZooInspector/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/zookeeper-3.4.5/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/zookeeper-3.4.5/src/contrib/zooinspector/lib
!deploy/rpm-build/rpmbuild/SOURCES/omp2_base/usr/share/zookeeper-3.4.5/src/java/lib
.vagrant
topology.dot
topology.pdf
.grunt
node_modules/
_SpecRunner.html
dump.rdb
graph.db
graph.db.bak



